RewriteEngine On

ErrorDocument 404 /NOTFOUND.php
ErrorDocument 403 /NOTFOUND.php

RewriteRule ^components/ - [R=404,L]
RewriteRule ^views/ - [R=404,L]
RewriteRule ^Others/ - [R=404,L]

RewriteRule ^_.*$ - [F,L]
RewriteCond %{REQUEST_FILENAME} \.md$
RewriteRule .* - [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [NC,L]

